
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@500&family=Montserrat:wght@500;700&display=swap');

:root {
  --clr-prime-darkcyan: hsl(158, 36%, 37%);
  --clr-prime-btn-hover: #1a4031;
  --clr-prime-cream: hsl(30, 38%, 92%);
  --clr-darkblue: hsl(212, 21%, 14%);
  --clr-grayblue: hsl(228, 12%, 48%);
  --clr-white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-prime-cream);
}

main {
  max-width: 20rem;
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  text-align: left;
  box-shadow: 1rem 1rem 1rem rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.image img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.text {
  padding: 1.2rem;
}

.toptext, .article, .description, .price {
  padding-bottom: 1rem;
}

.toptext {
  color: var(--clr-grayblue);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 0.8rem;
}

.article {
  font-family: 'Fraunces', sans-serif;
  color: var(--clr-darkblue);
  line-height: 2rem;
  font-weight: 700;
}

.description {
  color: var(--clr-grayblue);
  line-height: 1.4rem;
  font-size: 0.8rem;
}

.price {
  display: flex;
  flex-direction: row;
}

.newprice {
  font-family: 'Fraunces', sans-serif;
  color: var(--clr-prime-darkcyan);
  font-weight: 700;
}

.oldprice {
  padding: 0.8rem 1.2rem ;
  text-decoration: line-through;
  color: var(--clr-grayblue);
  font-size: 0.8rem;
}

.add2card {
  background-color: var(--clr-prime-darkcyan);
  padding: 1rem;
  width: 100%;
  border: transparent;
  border-radius: 0.5rem;
  color: var(--clr-white);
  font-weight: 700;
}
.add2card:hover {
background-color: var(--clr-prime-btn-hover);
}


@media screen and (min-width: 620px) {

  main {
    max-width: 38rem;
    flex-direction: row;
  }

  .image {
    width: 19rem;
  }

  .image img {
    height: 100%;
    border-top-right-radius: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }

  .text {
    width: 19rem;
    padding: 2.2rem;
  }

  .toptext, .article, .description, .price {
    padding-bottom: 2rem;
  }

}